// 可以不放在根目录下一边针对不同代码做不同处理
{
  "presets": [
      [
          "latest",
          {
              "es2015": {
                  "modules": false//首先，我们设置 "modules": false ，否则 Babel 会在 Rollup 有机会做处理之前，将我们的模块转成 CommonJS ，导致 Rollup 的一些处理失败。
            //  helpers干啥的？
                }
          }
      ]
  ],
  "plugins": []
}